.blogPost__header {
    text-align: center;
  }

  .blogPost__title {
    margin-top: 1.45rem;
    margin-bottom: 1.45rem;
  }

  .blogPost__coverImage {
    margin-bottom: 1.45rem;
  }

  .blogPost__content iframe {
    border: 0;
    height: 400px;
    margin-bottom: 4px;
    width: 100%;
  }

  .blogPost__footer {
    display: flex;
  }

  .blogPost__footerText {
    margin-bottom: 0.1em;
  }

  .blogPost__footerAuthorImage {
    margin-right: 0.725em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    max-width: initial;
  }

  .blogPost__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
  }

  .blogPost__navigation li {
    margin-bottom: 1rem;
  }